.amber {
  background-color: #f59e0b;
}

.blue {
  background-color: #0b69ff;
}

.orange {
  background-color: #f97316;
}

.emerald {
  background-color: #10b981;
}

.teal {
  background-color: #14b8a6;
}

.red {
  background-color: #b91c1c;
}

.light-blue {
  background-color: #0ea5e9;
}

/* Write your CSS here */
.comment-item {
  border: 1px solid #cbd2d9;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 15px;
}

.comment-header {
  display: flex;
  align-items: center;
}

.initial {
  background-color: #10b981;
  color: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  margin-right: 10px;
}

.username {
  font-weight: 600;
  color: #334155;
}

.time {
  color: #94a3b8;
  font-size: 12px;
}

.comment-text {
  margin: 10px 0;
  color: #64748b;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.like-button {
  background: transparent;
  border: none;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.like-icon {
  width: 20px;
  margin-right: 5px;
}

.like-text {
  color: #7e858e;
}

.liked {
  color: #0b69ff;
  font-weight: bold;
}

.delete-button {
  background: transparent;
  border: none;
  cursor: pointer;
}
